.site-info {
  padding: 20px;
}
.site-info {
  color: #ccc;
  background-color: #1f1f1f;
}

.site-footer {
  background: url(../img/fondo/trans-bottom-darkwool.png) !important;
  background-repeat: repeat-x !important;
  padding-top: 95px;
}

.site-info {
  padding: 20px 40px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

.footer-bar-align-center .footer-bar {
  float: none;
  text-align: center;
  margin-bottom: 10px;
}

.footer-bar {
  font-size: 13px;
}

.footer-bar-active .footer-bar .widget {
  padding: 0;
}

.separate-containers .widget:last-child,
.widget:last-child {
  margin-bottom: 0;
}

.widget {
  margin: 0 0 30px;
  box-sizing: border-box;
}

.site-info a {
  color: #a0e080;
}